body{
  background-color: rgb(227, 227, 227);
}

.wrapper{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 150px;
  margin-top: 20px;

  .mid-col{
    border: 1px solid black;
    background-color: #f6f6f6;
    height: 90vh;
  }
}
