@import "fonts.scss";

.navbar{
    border-radius: 0;
    border: none;
    background-color: #333;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .2s;
    padding-top: 60px;


      .fa-times {
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      color: rgb(198, 34, 34);
      cursor: pointer;
      transition: linear all .3s;

      &:hover{
        transform: rotate(180deg);
      }
    }

}


nav {

    li {
      margin-right: 50px;

        a {
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 6px 20px;
          font-size: 20px;
          font-family: $abel;
        }

        .btn{
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 17px;
          font-family: $abel;
          color: white;
          padding: 6px 20px;

        }

        .save{
          box-shadow: 0 5px #80c29c;

          &:hover{
            background-color: #ace4c4;
          }

          &:active{
            top: 2px;
            box-shadow: 0 0;
            background-color: #2bbe73
          }
        }

        .edit{
          box-shadow: 0 5px rgb(199, 167, 141);

          &:hover{
            background-color: #ec9f8b;
          }

          &:active{
            top: 2px;
            box-shadow: 0 0;
            background-color: #d54823;
          }
        }
    }
}

.fa-info {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #a6a6a6;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.22);
  box-shadow: 0 3px #6b6b6b;

  &:hover{
    background-color: #707070;
  }

  &:active{
    top: 2px;
    box-shadow: 0 0;
  }
}

#move {
    transition: margin-left .2s;
}
