@import "fonts.scss";

.navbar{
    border-radius: 0;
    border: none;
    background-color: #333;
    margin-bottom: 0;
    z-index: 999;
}

.sidenav {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #111;
    overflow-x: visible;
    padding: 60px 20px;
}

nav {

    li {
      margin-right: 50px;

        a {
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 6px 20px;
          font-size: 20px;
          font-family: $abel;
          color: white;

          &:hover{color: white;}
        }

        .btn{
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 17px;
          font-family: $abel;
          color: black;
          padding: 6px 20px;

        }

        .save{
          box-shadow: 0 5px #80c29c;

          &:hover{
            background-color: #ace4c4;
          }

          &:active{
            top: 2px;
            box-shadow: 0 0;
            background-color: #2bbe73
          }
        }

        .edit{
          box-shadow: 0 5px rgb(199, 167, 141);

          &:hover{
            background-color: #ec9f8b;
          }

          &:active{
            top: 2px;
            box-shadow: 0 0;
            background-color: #d54823;
          }
        }
    }
}
